body {
  height: 100%;
}
/*在谷歌下移除input[number]的上下箭头*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
/*在firefox下移除input[number]的上下箭头*/
input[type='number'] {
  -moz-appearance: textfield;
}
ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle !important;
}

.container {
  margin: 0 auto;
}

/* 主体颜色 */
.bg-theme {
  background-color: #212121;
}
.bg-white {
  background-color: #fff;
}
.bg-blue {
  background-color: #409eff;
  color: #fff;
}
.bg-green {
  background-color: #43bc60;
}
.bg-red {
  background-color: #F56C6C;
}

.border-grey {
  border: 1px solid #dcdfe6;
}


/* 字体大小 */
/* 一级标题 */
.zh-fs-20 {
  font-size: 20px;
}

/* 二级标题 */
.zh-fs-18 {
  font-size: 18px;
}

/* 三级标题 */
.zh-fs-16 {
  font-size: 16px;
}

/* 四级标题 */
.zh-fs-14 {
  font-size: 14px;
}

/* 字体颜色 */
.text-white {
  color: #fff;
}

.text-blue {
  color: #409EFF;
}

/* 外边距 */
.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-30 {
  margin-left: 30px;
}

/* 内填充 */
.p-10 {
  padding: 10px;
}
.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}
.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.pr-20 {
  padding-right: 20px;
}

/* 圆角边框 */
.radius-5 {
  border-radius: 5px;
}
.radius-10 {
  border-radius: 10px;
}
.raduis-15 {
  border-radius: 15px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.font-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}
.text-initial {
  text-align: initial;
}

.flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.justify-around {
  justify-content: space-around;
}

.global-container {
  min-height: calc(100vh - 290px);
}

html {
  overflow-y: auto;
  overflow-x: hidden;
}